/* Adicione este CSS ao seu arquivo de estilos */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
  
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  margin: 0 5px 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.list_box {
  background-color: white;
  border: 20px solid #0CC0DF;
  border-bottom-width: 20px;
}
  